<div class="new__editor__markdownheader">
  <span>
    <div class="new__editor__body-title">本文</div>
    <%= link_to "https://help.qiita.com/ja/articles/qiita-article-guideline", class:"new__editor__body-tips" , target: "_blank" do %>
      良い記事を書くには
    <% end %>
  </span>
  <div class="new__editor__body-icons">
    <label class="new__editor__img">
      <input type="file" class="input-file" value="">
      <i class="far fa-image" data-tip="true" data-for="tooltip-for-image-picker" currentitem="false"></i>
    </label>
    <div class="new__editor__emoji">
      <i class="far fa-smile"></i>
    </div>
    <div class="new__editor__markTips">
      <i class="fas fa-question"></i>
    </div>
  </div>
</div>
