<div class="new__editor__markdownheader">
  <span>
    <a href="#" class="new__editor__body-tips">
      <i class="fas fa-chevron-left"></i>
    </a>
    <a href="#" class="new__editor__body-tips">
      <i class="fas fa-chevron-right"></i>
    </a>
  </span>
  <div class="new__editor__body-icons">
    <label class="new__editor__img">
      <input type="file" class="input-file" value="">
      <i class="far fa-image" data-tip="true" data-for="tooltip-for-image-picker" currentitem="false"></i>
    </label>
    <div class="new__editor__emoji">
      <i class="far fa-smile"></i>
    </div>
    <div class="new__editor__markTips">
      <i class="fas fa-question"></i>
    </div>
  </div>
</div>
