$left-sidebar-width: 80px;
$right-sidebar-width: 300px;

.link_no_underline{
  text-decoration: none;
}

.fa-white{
  color: white;
}
.fa-bg-gray{
  background-color: gray;
}
.fa-gray{
  color: gray;
}

.centerAlign {
  text-align: center;
}
.fa-cw{
  width:1.28571em;
  text-align: center;
}
