<div class="user-session__left-content">
  <%= link_to user_github_omniauth_authorize_path do %>
  <div class="user-session__social-login">
    <div class="user-session--githubLogin">
      <i class="fab fa-github"></i>
      Githubアカウントでログイン
    </div>
  </div>
  <% end %>
  <div class="user-session__social-login">
    <div class="user-session--twitterLogin">
      <i class="fab fa-twitter"></i>x Twitterアカウントでログイン
    </div>
  </div>
  <%= link_to user_google_oauth2_omniauth_authorize_path do %>
    <div class="user-session__social-login">
      <div class="user-session--googleLogin">
        <i class="fab fa-google"></i>
        Googleアカウントでログイン
      </div>
    </div>
  <% end %>
  <div class="user-session__guide arrange-leftside">
    <%= render "devise/shared/links" %>
  </div>
</div>
