@import '../config/reset.scss';
@import '../config/color.scss';
@import '../config/variable.scss';

.home-container{
  background-color: colors(bg);
  height: auto;
  box-sizing: border-box;
}

.main-content{
    width: 90%;
  margin: 0 auto;
  max-width: 500px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 15% 55% 30%;
  -ms-grid-columns: 15% 70% 15%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
