<% if !(current_user==@article.user) %>

  <div class="stickyMenu">
    <div class="stickyMenu__likeCount"><a><%= @article.likes.count %></a></div>
    <div class="stickyMenu__item">
      <div class="stickyMenu__like fa-fm-green">
        <%= render "likes/like", article: @article %>
      </div>
    </div>
    <div class="stickyMenu__item">
      <div class="stickyMenu__stock fa-bg-gray">
        <button><i class="fas fa-folder-open fa-white"></i></button>
      </div>
    </div>
  </div>

<% end %>
