<div class="home-container px16 pt32">
  <div class="main-content">
    <!-- left bar -->
    <div class="main-content__l">
      <div class="main-content__l--trend active">
        トレンド
      </div>
      <div class="main-content__l--timeline">
        タイムライン
      </div>
      <div class="main-content__l--tagfeed">
        タグフィード
      </div>
    </div>
    <!-- contents center -->
    <div class="main-content__c">
      <div class="main-content__c__header">
        <div class="main-content__c__header--label">
          トレンド
        </div>
        <div class="main-content__c__header--subLabel">
          最近人気の記事を毎日5時/17時に更新
        </div>
        <div class="tr-ItemList_tab">
          <div class="tr-ItemList_tab--Item is-active">
            1日
          </div>
          <div class="tr-ItemList_tab--Item">
            週間
          </div>
          <div class="tr-ItemList_tab--Item">
            月間
          </div>
        </div>
      </div>
      <div>
        <!-- necessary 20items-->
      <% ["a","b"].each do |content| %>
        <div class="tr-Item">
          <a class="tr-Item__userImage">
            <img src="https://qiita-image-store.s3.amazonaws.com/0/159680/profile-images/1490964068" alt="sensuikan1973">
          </a>
          <div class="tr-Item__body">
            <div class="tr-Item__title">めっっっっっっっっっっっっっっちゃ長いコンテンツ1</div>
            <div class="tr-Item__meta">
              <span>by
                <a class="tr-Item__author"> 32</a>
              </span>
              <time>
                "2 days"
                " ago"
              </time>
              <div class="tr-Item__likeCount">
                <i class="fa fa-thumbs-up mr-1of2">
                </i>
                "878"
              </div>
            </div>
          </div>
        </div>
        <div class="tr-Item">
          <a class="tr-Item__userImage">
            <img src="https://qiita-image-store.s3.amazonaws.com/0/189343/profile-images/1520164422" alt="ymy2642">
          </a>
          <div class="tr-Item__body">
            <a class="tr-Item__title" href="/show">コンテンツ1</a>
            <div class="tr-Item__meta">
              <span class="tr-Item__new">new</span>
              <span>by
                <a class="tr-Item__author"> 11</a>
              </span>
              <time>
                "2 days"
                " ago"
              </time>
              <div class="tr-Item__likeCount">
                <span class="fa fa-thumbs-up mr-1of2">
                </span>
                "878"
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <!-- right bar -->
    <div class="main-content__r p16">
      <div class="p-home__ad">
      </div>
      <div class="rank-userList p16">
        <div class="rank-userList__header mb16">
          <div class="rank-userList__label">
            ユーザーランキング
          </div>
          <div class="rank-userList__tab">
            <div class="rank-userList__tab--Item is-active">
              1日
            </div>
            <div class="rank-userList__tab--Item">
              週間
            </div>
            <div class="rank-userList__tab--Item">
              月間
            </div>
          </div>
        </div>
        <% ["1","2","3"].each.with_index(1) do |user, rank| %>
        <div class="rank-userList__content">
          <%= rank %>
          <img alt="" src="https://qiita-image-store.s3.amazonaws.com/0/106401/profile-images/1494858105">
           ＠account
            865 Contribution
        </div>
        <% end %>
      </div>

      コニュニティスポンサー
        icon1
        icon2
        icon3
        コミュニティスポンサー
    </div>
  </div>
</div>


