<!-- header -->
<%= render 'header' %>

<div class="home-container px16 pt32">
  <div class="main-content">
    <!-- left bar -->
    <div class="main-content__l">
      <div class="main-content__l--trend active">
        トレンド
      </div>
      <div class="main-content__l--timeline">
        タイムライン
      </div>
      <div class="main-content__l--tagfeed">
        タグフィード
      </div>
    </div>
    <!-- contents center -->
    <div class="main-content__c">
      <div class="main-content__c__header">
        <div class="main-content__c__header--label">
          トレンド
        </div>
        <div class="main-content__c__header--subLabel">
          最近人気の記事を毎日5時/17時に更新
        </div>
        <div class="tr-ItemList_tab">
          <div class="tr-ItemList_tab--Item is-active">
            1日
          </div>
          <div class="tr-ItemList_tab--Item">
            週間
          </div>
          <div class="tr-ItemList_tab--Item">
            月間
          </div>
        </div>
      </div>
      <div>
        <div class="tr-Item">
          <a class="tr-Item__userImage">icon</a>
          <div class="tr-Item__body">
            <div class="tr-Item__title">コンテンツ1</div>
            <div class="tr-Item__meta">
              <span>by
                <a class="tr-Item__author"> １１</a>
              </span>
              <time>
                "2 days"
                " ago"
              </time>
              <div class="tr-Item__likeCount">
                <span class="fa fa-thumbs-up mr-1of2">
                  ::before
                </span>
                "878"
              </div>
            </div>
          </div>
        </div>

        <div class="tr-Item">
          <a class="tr-Item__userImage">icon</a>
          <div class="tr-Item__body">
            <div class="tr-Item__title">めっっっっっっっっっっっっっっちゃ長いコンテンツ1</div>
            <div class="tr-Item__meta">
              <span>by
                <a class="tr-Item__author"> １１</a>
              </span>
              <time>
                "2 days"
                " ago"
              </time>
              <div class="tr-Item__likeCount">
                <span class="fa fa-thumbs-up mr-1of2">
                  ::before
                </span>
                "878"
              </div>
            </div>
          </div>
        </div>
        <div class="tr-Item"><!-- necessary 20items-->
          <a class="tr-Item__userImage">icon</a>
          <div class="tr-Item__body">
            <div class="tr-Item__title">コンテンツ1</div>
            <div class="tr-Item__meta">
              <span class="tr-Item__new">new</span>
              <span>by
                <a class="tr-Item__author"> １１</a>
              </span>
              <time>
                "2 days"
                " ago"
              </time>
              <div class="tr-Item__likeCount">
                <span class="fa fa-thumbs-up mr-1of2">
                  ::before
                </span>
                "878"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right bar -->
    <div class="main-content__r p16">
      <div class="p-home__ad">
      </div>
      <div class="rank-userList p16">
        <div class="rank-userList__header mb16">
          <div class="rank-userList__label">
            ユーザーランキング
          </div>
          <div class="rank-userList__tab">
            <div class="rank-userList__tab--Item is-active">
              1日
            </div>
            <div class="rank-userList__tab--Item">
              週間
            </div>
            <div class="rank-userList__tab--Item">
              月間
            </div>
          </div>
        </div>
        <div class="rank-userList__content">
          1.
            □ ＠account
            865 Contribution
        </div>
      </div>
      1.
        □ ＠account
        865 Contribution
      1.
        □ ＠account
        865 Contribution

      コニュニティスポンサー
        icon1
        icon2
        icon3
        コミュニティスポンサー
    </div>
  </div>
</div>
<!-- footer -->
<div class="footer px16 pt8 pb16">
  <div class="footer__container">
    <ul class="footer__stat">
      <li class="mr8">© 2011-2018 Increments Inc.</li>
      <li class="mr8">利用規約</li>
      <li class="mr8">ガイドライン</li>
      <li class="mr8">プライバシー</li>
      <li class="mr8">ヘルプ</li>
    </ul>
    Qiitaとは ユーザー タグ 投稿 ブログ API Qiita:Team 御意見
  </div>
</div>

