<%= render 'layouts/header' %>
<div class="homecontainer">
<div class="user-index">
<div class="user-index__container">
  <%= render 'users/layouts/user-index/index_sidebar' %>
  <%= render 'users/layouts/user-index/index_body' %>
</div>
</div>
</div>
<%= render 'layouts/footer' %>
