<!-- header -->
<%= render 'layouts/header' %>
<div class="bgGray">
<!-- left side -->
<div class="settings p24">
<div class="settings_container">
  <div class="settings_leftbar">
    公開用プロフィール
    アカウント
    パスワード
    メールアドレスと通知
    セキュリティ
    二段階認証
    アプリケーション
    ミュート設定
    Googleアナリティクス設定
    Organization設定
  </div>

  <div class="settings_rightbar">
ga-ladder
ga-ladder アカウント
/
アカウント
アイコン

<!-- GitHub
sdlkfj3w0ao2@outlook.jp
Gravatar
画像
アップロード
Gravatar側での画像の変更は即座に反映されません。5分ほどお待ちください。
GitHubやTwitterでユーザ名を変更した場合は、いったんQiitaから ログアウト して再度OAuth認証を行なってください。
ユーザ名
ga-ladder
ユーザ名を変更するにはパスワードの登録が必要です。
外部サービス
GitHubの紐付けを解除
解除するにはTwitterアカウントを紐付けるか、 パスワードを設定してください。
Twitterログイン
Twitterアカウントと紐付けると、 技術情報をTwitterにも同時に投稿することができるようになります。
Googleログイン
言語設定

 Qiita:Team専用モード
Qiita:Team専用モードを有効にすると、このアカウントはQiita:Teamのみで利用可能となり、「Qiita - プログラマの技術情報共有サービス」の利用ができなくなります。
Qiita:Team専用モードを有効にする
 アカウント削除
一度アカウントを削除すると、二度と元に戻せません。十分ご注意ください。
アカウントを削除する -->
  </div>
</div>
</div>

<%= render 'layouts/footer' %>
</div>
