<div class="stickyMenu">
  <div class="stickyMenu__likeCount"><a>100</a></div>
  <div class="stickyMenu__item">
    <div class="stickyMenu__like fa-fm-green">
      <button><i class="far fa-thumbs-up fa-green"></i></button>
    </div>
  </div>
  <div class="stickyMenu__item">
    <div class="stickyMenu__stock fa-bg-gray">
      <button><i class="fas fa-folder-open fa-white"></i></button>
    </div>
  </div>
</div>
