.notice{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 32px;
    margin-bottom: 32px;
    background-color: #3fcd73;
    color: #155724;
    z-index: 10000;
    border-radius: 4px;
    padding: 16px 0;
}
.alert{

}
