<div class="footer">
  <div class="footer__inner">
    <div class="footer__container">
      <ul class="footer__links--left">
        <li class="footer__link"><a href="">© 2011-2018 oooooooo Inc.</a></li>
        <li class="footer__link"><a href="">利用規約</a></li>
        <li class="footer__link"><a href="">ガイドライン</a></li>
        <li class="footer__link"><a href="">プライバシー</a></li>
        <li class="footer__link"><a href="">ヘルプ</a></li>

      </ul>
      <ul class="footer__links--right">
        <li class="footer__link"><a href="">Qiitaとは</a></li>
        <li class="footer__link"><a href="">ユーザー</a></li>
        <li class="footer__link"><a href="">タグ</a></li>
        <li class="footer__link"><a href="">投稿</a></li>
        <li class="footer__link"><a href="">ブログ</a></li>
        <li class="footer__link"><a href="">API</a></li>
        <li class="footer__link"><a href="">Team</a></li>
        <li class="footer__link"><a href="">
          <i class="fa fa-heart"></i>
          ご意見</a></li>
      </ul>
    </div>
  </div>
</div>
